{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>HUBBM ChatBot</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.png' %}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Logo font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

</head>

<body>

    <div class="form-container">
        <div class="form-container-inner text-center">
            <form id="question-form" method="post" class="search has-button">
                {% csrf_token %}

                <h1 class="no-margin-top logo">ChatBot</h1>

                <div class="form-group">
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-lg">&nbsp;&nbsp;Ask!&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>

    <h3 id="answer-text" class="answer"></h3>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom script -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>